/* Semantic Color */
:root {
  --color-border-primary: var(--grey-800);
  --color-border-secondary: var(--grey-500);
  --color-border-data-entry: var(--grey-1600);
  --color-interactive-primary-default: var(--mars-1400);
  --color-interactive-primary-hover: var(--mars-1600);
  --color-interactive-primary-active: var(--mars-1300);
  --color-interactive-primary-selected: var(--mars-1300);
  --color-interactive-secondary-default: var(--color-surface-overlay-secondary);
  --color-interactive-secondary-hover: #02020233;
  --color-interactive-secondary-active: #0202024d;
  --color-interactive-secondary-selected: #02020233;
  --color-interactive-tertiary-default: var(--mars-1500);
  --color-interactive-ghost-default: #fcfcfc00;
  --color-interactive-tertiary-hover: var(--mars-1600);
  --color-interactive-ghost-hover: var(--color-surface-overlay-secondary);
  --color-interactive-destructive-default: var(--crimson-1400);
  --color-interactive-ghost-active: #0202024d;
  --color-interactive-destructive-default-ghost: var(--crimson-1400);
  --color-interactive-destructive-hover: var(--crimson-1200);
  --color-icon-icon-primary: var(--grey-2400);
  --color-icon-icon-seconadry: var(--grey-2000);
  --color-icon-icon-tertiary: var(--grey-1600);
  --color-icon-icon-light: var(--grey-100);
  --color-icon-icon-dark: var(--grey-2400);
  --color-interactive-contents: var(--grey-100);
  --color-status-success: var(--lima-1000);
  --color-surface-base: var(--grey-500);
  --color-surface-primary: var(--grey-100);
  --color-surface-secondary: var(--grey-300);
  --color-surface-overlay-primary: #0202020f;
  --color-surface-overlay-secondary: #0202021a;
  --color-surface-overlay-tertiary: #02020224;
  --color-surface-curtain: var(--curtain-black-80p);
  --color-status-success-bg: var(--lima-500);
  --color-status-success-content: var(--lima-2100);
  --color-status-info: var(--cerulean-1000);
  --color-status-info-bg: var(--cerulean-500);
  --color-status-info-content: var(--cerulean-2100);
  --color-status-info-secondary: var(--caribbean-1000);
  --color-status-info-secondary-bg: var(--caribbean-500);
  --color-status-info-secondary-content: var(--caribbean-2100);
  --color-status-caution: var(--candlelight-1300);
  --color-status-caution-bg: var(--candlelight-500);
  --color-status-caution-content: var(--candlelight-2100);
  --color-status-warning: var(--cerise-1000);
  --color-status-warning-bg: var(--cerise-500);
  --color-status-warning-content: var(--cerise-2100);
  --color-status-error: var(--crimson-1000);
  --color-status-error-message: var(--crimson-1600);
  --color-status-error-bg: var(--crimson-500);
  --color-status-error-content: var(--crimson-2100);
  --color-text-text-primary: var(--grey-2400);
  --color-text-text-secondary: var(--grey-2000);
  --color-text-text-tertiary: var(--grey-1600);
  --color-text-text-placeholder: var(--grey-1400);
  --color-text-text-inverse: var(--grey-100);
  --color-interactive-ui-default: var(--color-surface-overlay-primary);
  --color-interactive-ui-hover: var(--color-surface-overlay-secondary);
  --color-interactive-focus: var(--grey-2400);
  --color-interactive-focus-inverse: var(--grey-100);
  --color-interactive-inactive-inactive-01: var(--grey-1400);
  --color-interactive-ui-active: var(--color-surface-overlay-tertiary);
  --color-interactive-tertiary-active: var(--mars-1300);
  --color-interactive-inactive-inactive-02: var(--grey-1000);
  --color-interactive-ui-selected: var(--color-surface-overlay-tertiary);
  --color-interactive-ui-inverse: var(--grey-1600);
  --color-text-text-dark: var(--grey-2400);
  --color-interactive-inactive-inactive-03: var(--black-200);
  --color-interactive-tertiary-selected: var(--brand-1000);
  --color-interactive-destructive-active: var(--crimson-1300);
  --brand: var(--mars-1400);
  --color-interactive-ui-light: var(--grey-100);
  --color-interactive-ui-dark: var(--grey-2400);
  --color-text-text-light: var(--grey-100);
}